/* 取消所有元素的内外边距 */
* {
    padding:0;
    margin:0;
}
a {
    color: #666;
    text-decoration: none;
}
em,
i {
    font-style: normal;
}
/* 取消项目符 */
li {
    list-style: none;
}
/* 清除浮动 */
.clearfix:after {
    content:"";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.clearfix {
    *zoom:1;
}
img {
    vertical-align: middle;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
/* 取消轮廓线 */
input,
button,
textarea {
    outline:none;
}
body {
    background-color: #fff;
    font: 14px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
