<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实现简单的计算器功能</title>
</head>
<body>
    <div id="app">
        <input type="text" class="num1" v-model="msg1" v-on:keyup.enter="next">
        <select class="opt" v-model="opt">
            <option value='+'>+</option>
            <option value='-'>-</option>
            <option value='*'>*</option>
            <option value='/'>/</option>
        </select>
        <input type="text" class="num2" v-model="msg2" v-on:keyup.enter="calc">
        <button @click="calc">=</button>
        <span class="result"></span>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                msg1: '',
                msg2: '',
                result: '',
                opt:'+'
            },
            methods:{
                next() {
                    var num2Input = document.querySelector('.num2');
                    num2Input.focus();
                },
                calc() {
                    var result = 0;
                    switch (this.opt) {
                        case '+':
                            result = parseInt(this.msg1) + parseInt(this.msg2);
                            break;
                        case '-':
                            result = this.msg1 - this.msg2;
                            break;
                        case '*':
                            result = this.msg1 * this.msg2;
                            break;
                        case '/':
                            result = this.msg1 / this.msg2;
                            break;
                    }
                    var resultDiv = document.querySelector('.result');
                    resultDiv.innerText = result;
                },
            }
        })
    </script>
</body>
</html>