<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <my-com></my-com>
    </div>
    
    <script src="js/vue.js"></script>
    <script>
        Vue.component('myCom', {
            data: function(){
                return {
                    input1:0,
                    input2:0,
                    opt:'+',
                    result:''
                }
            },
            template:`
            <div>
                <input type="text" class="num1" v-model="input1" v-on:keyup.enter="calc()" ref='txt'>
                <select class="opt" v-model="opt">
                    <option value='+'>+</option>
                    <option value='-'>-</option>
                    <option value='*'>*</option>
                    <option value='/'>/</option>
                </select>
                <input type="text" v-model="input2" v-on:keyup.enter="calc()">
                <button v-on:click="calc()" >=</button>
                <span style="width: 20px;">{{result}}</span>
            </div>
            `,
            methods:{
                calc(){     //计算器算数的方法
                    switch(this.opt){

                        case '+':
                            this.result = parseInt(this.input1) + parseInt(this.input2)
                        break;
                        case '-':
                            this.result = parseInt(this.input1) - parseInt(this.input2)
                        break;
                        case '*':
                            this.result = parseInt(this.input1) * parseInt(this.input2)
                        break;
                        case '/':
                            this.result = parseInt(this.input1) / parseInt(this.input2)
                        break;
                    }
	            } , 
            },
            mounted() {
                // console.log(this.$refs.txt)
                this.$refs.txt.focus();
            } ,
        })
        var vm=new Vue({
            el:'#app',
            data:{
            
            },
            methods:{
            
            },
            computed:{
            
            }
        })
    </script>
</body>
</html>