<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
            -webkit-appearance: none !important;
        }
        
        .head {
            text-align: center;
        }
        .body {
            list-style: none;
        }
        .body li {
            display: flex;
            justify-content: space-between;
        }
        .body input {
            width: 30px;
            height: 20px;
        }
        .foot {
            text-align: right;
        }
        .active{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
       <totable></totable>
    </div>
    <div ></div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var hub = new Vue();
        var gethead ={
            props: ['man','data','delcid'],
            data : function() {
                return {
                    id: this.delcid,
                    dellist: this.data
                }
            },
            template: `
            <div class="head">
                <h1>{{man}}</h1>
                <div :class="data.length == 0? 'active': '' ">  
                    <select name="" id=""  v-model="this.id">
                        <option :value="val.id" v-for="val in data">{{val.name}}</option>
                    </select>
                    <button @click="add(delcid)">新增</button>
                </div>
            </div>
            `,
            methods: {
                add(id) {
                    this.$emit('add',id)
                    this.dellist = this.data.filter(val => val.id != id);
                    if(this.dellist.length > 0) {
                        this.id = this.dellist[0].id; 
                    }
                }
            },
            mounted() {
                hub.$on('getid', val => {
                    this.id = val
                })
            },

        }


        var getBody= {
            props: ['datas'],
            data: function() {
                return{
                 
                }
                // <input type="number"  :value="val.num" @keyup.enter="$emit('num',val.id,this.value)">
            },
            template: `
            <ul class="body">
                <li v-for="val in datas" :key="val.id">
                    <span>{{val.name}}</span>
                    <div>
                        <button @click="$emit('subtract',val.id,val.num)">-</button>
                        <input type="number"  v-model="val.num" @blur="$emit('blur',val.num,val.id,val.price)">
                        <button @click="$emit('plus',val.id)">+</button>
                    </div>
                    <span>{{val.price}}</span>
                    <button @click="del(val.id)">X</button>
                </li>
            </ul>
            `,
            methods: {
                del: function(id) {
                    this.$emit('del',id);
                    hub.$emit('getid', id)
                },
            },
        }


        var getfoot = {
            props: ['data'],
            template: `
                <div class="foot">总价:<span>{{zj}}</span></div>
            `,
            computed: {
                zj() {
                    var sum = 0;
                    this.data.forEach(val => {
                        sum += val.price * val.num;
                    })
                    return sum;
                }
            }
        }
        Vue.component('totable',{
            data: function() {
                return {
                    dellist: [],
                    delcid: 0,
                    uname: '张三',
                    list: [{
                        id: 1,
                        name: 'TCL彩电',
                        price: 800,
                        num: 1,
                        img: 'img/a.jpg'
                    }, {
                        id: 2,
                        name: '机顶盒',
                        price: 200,
                        num: 1,
                        img: 'img/b.jpg'
                    }, {
                        id: 3,
                        name: '海尔冰箱',
                        price: 1500,
                        num: 1,
                        img: 'img/c.jpg'
                    }, {
                        id: 4,
                        name: '小米手机',
                        price: 1000,
                        num: 1,
                        img: 'img/d.jpg'
                    }, {
                        id: 5,
                        name: 'PPTV电视',
                        price: 1200,
                        num: 2,
                        img: 'img/e.jpg'
                    }]
                }
            },
            components: {
                gethead:gethead,
                getBody:getBody,
                getfoot:getfoot
            },
            template: `
                <div style="width: 500px;">
                    <gethead :man="uname" :data="dellist" @add = "add" :delcid="delcid"></gethead>
                    <get-body :datas="list" @plus="plus" @subtract="subtract" @del="del" @num="num" @blur="blur"></get-body>
                    <getfoot :data="list"></getfoot>
                </div>
            
            `
            ,
            methods: {
                plus(id) {
                    this.list.some(val => {
                        if(val.id == id) {
                            val.num++;
                            return true;
                        }
                    })
                },
                subtract(id,num) {
                    if(num != 1) {
                        this.list.some(val => {
                            if(val.id == id) {
                                val.num--;
                                return true;
                            }
                        })
                    }
                },
                num(id,num) {
                    this.list.some(val => {
                        if(val.id == id) {
                            val.price = val.price / val.num * num;
                            val.num = num;
                            return true;
                        }
                    })
                },
                del(id) {
                    this.list.filter(val => {
                        if(val.id == id) {
                            this.dellist.push(val)
                        }
                    });
                    this.list = this.list.filter(val => val.id != id)
                    this.delcid = id;
                },
                add(id) {
                    this.dellist.filter(val => {
                        if(val.id == id) {
                            this.list.push(val)
                        }
                    })
                    this.dellist = this.dellist.filter(val => val.id != id);
                    if(this.dellist.length > 0) {
                        this.delcid = this.dellist[0].id;
                    }
                },
                blur(num,id,price) {
                    console.log(num,id);
                    this.list.some(val => {
                        if(val.id == id) {
                            val.price = price * num;
                            val.num = parseInt(num);
                            return true;
                        }
                    })
                }
            },
        })
        var vm=new Vue({
            el:'#app',
            data:{
               
            },
            methods:{
               
            },
            computed:{
            
            }
        })
    </script>
</body>
</html>