<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实现简单的计算器功能</title>
</head>

<body>
    <h1>Vue简单的计算器</h1>
    <div id="app">
        <input type="text" id="text1" name="" v-model="num1" v-on:keyup.enter="getNext">
        <select class="opt">
            <option value='+'>+</option>
            <option value='-'>-</option>
            <option value='*'>*</option>
            <option value='/'>/</option>
        </select>
        <input type="text" id="text2" name="" v-model="num2" v-on:keyup.enter="getResult">
        <button @click="getResult">=</button>
        <span class="result"></span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                num1: 1,
                num2: 1
            },
            methods: {
                getNext() {
                    document.querySelector("#text2").focus();
                },
                getResult() {
                    var str = document.querySelector(".opt").value;
                    var result = document.querySelector(".result");
                    if (str === "+") {
                        result.innerText = parseFloat(this.num1) + parseFloat(this.num2);
                    } else if (str === "-") {
                        result.innerText = this.num1 - this.num2;
                    } else if (str === "*") {
                        result.innerText = this.num1 * this.num2;
                    } else {
                        result.innerText = this.num1 / this.num2;
                    }
                    document.querySelector("#text2").blur();
                }
            },
            computed: {

            }
        })
    </script>
</body>

</html>