<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section id="todoapp" class="todoapp">
        <header class="header">
            <h1>todos</h1>
            <input placeholder="What needs to be done?" class="new-todo" v-on:keyup.13="addData" v-model.trim="newdata">
        </header>
        <section class="main">
            	<input id="toggle-all" type="checkbox" class="toggle-all"> 
            	<label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                <!-- <li class="">
                    <div class="view"><input type="checkbox" class="toggle"> 
                        <label>吃饭</label> 
                        <button class="destroy"></button>
                    </div> 
                    <input class="edit">
                </li>
                <li class="">
                    <div class="view">
                        <input type="checkbox" class="toggle">
                        <label>睡觉</label> 
                        <button class="destroy"></button>
                    </div> <input class="edit">
                </li> -->
                <!-- class="completed" -->
                <li v-for="(value,index) in todos" :class='value.completed==true?"completed":""' @click="comp(index)">
                    <div class="view">

                        <input type="checkbox" class="toggle" v-model="value.completed"> 
                        <label>{{value.title}}</label> 
                        <button class="destroy" @click="clear(index)">
                        </button></div> 
                    <input class="edit">
                </li>
            </ul>
        </section>
        <footer class="footer">
            <span class="todo-count">
                <strong>2</strong> item left</span>
            <ul class="filters">
                <li><a href="#/" class="selected">All</a></li>
                <li><a href="#/active">Active</a></li>
                <li><a href="#/completed">Completed</a></li>
            </ul> 
            <button class="clear-completed">Clear completed</button>
        </footer>
    </section>



<!---   2CSS -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!---   3、 提供的数据  -->
    <script>
        new Vue({
            el: "#todoapp",
            data: {
                activecurrent:0,
                todos: [{
                    id: 1,
                    title: '吃饭',
                    completed: false
                }, {
                    id: 2,
                    title: '睡觉',
                    completed: false
                }, {
                    id: 3,
                    title: '打豆豆',
                    completed: true
                }],
                newdata:''
            },
            methods:{
                comp(index) {
                    if (this.completed != true) {
                        this.completed = true
                    } else {
                        this.completed = false
                    }
                },
                clear(index) {
                    this.todos.splice(index,1);
                },
                addData() {
                    if (this.newdata != '') {
                        // 添加到数组中
                        this.todos.push({id:this.todos.length + 1,title:this.newdata,completed:false});
                        // 清空文本框
                        this.newdata = '';
                    }
                }
            },
        })
    </script>
</body>
</html>